# Virtual Environment (Jangan pernah di-upload!)
venv/
env/
ENV/
.venv/

# Temporary files & cache
temp/
__pycache__/
*.py[cod]
*$py.class
*.log

# Operating System
.DS_Store
Thumbs.db

# IDE & Editor
.vscode/
.idea/
